NET "SerialRX" IOSTANDARD = LVCMOS33;
NET "SerialTX" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "saida" IOSTANDARD = LVCMOS33;
NET "Reset" IOSTANDARD = LVCMOS33;


NET "Reset" LOC = H4;
NET "saida" LOC = B4;
NET "SerialRX" LOC = A3;
NET "SerialTX" LOC = B3;
NET "clk" LOC = C10;
NET "led[0]" LOC = D14;
NET "led[1]" LOC = C16;
NET "led[2]" LOC = C15;
NET "led[3]" LOC = B15;


